@import "tailwindcss";

:root {
    --font-wittgenstein: 'Wittgenstein', serif;
    --font-source-sans: 'Source Sans 3', sans-serif;
}

/* Default body font */
body {
    font-family: var(--font-source-sans), serif;
}

/* Font family utility classes */
.font-title {
    font-family: var(--font-wittgenstein), serif;
}
.font-body {
    font-family: var(--font-source-sans), sans-serif;
}